

.primary-color{
  background-color: $dash-blue-smooth !important;
}
.bg-primary{
  background-color: $dash-blue-smooth !important;
}

.bg-secondary{
  background-color: $dash-pink !important;
}

.bg-deep-blue{
  background-color: $deep-blue !important;
}

.bg-dash-blue{
  background-color: $dash-blue;
}


.blue-gradient{
  background: $blue-gradient-opacity !important;
}

.pink-gradient{
  background: $pink-gradient;
}