.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 90%;
  vertical-align: middle;
}

h1, h2 , h3, h4, h5{
  color: $type-color !important;
}

p{
  color: $type-color;
}

.text-muted{
  color: $type-color-secondary;
}