.navbar{
  background-color: #201565;
  .nav-item{
    .nav-link{
      color: $white !important;
      //padding-bottom: 1.2em;
      font-weight: bold;
      @include respond-to(md){
       font-weight: normal;
      }
    }
  }
  .md-avatar.rounded-circle{
    width: 1.7em;
  }
}