// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$type-color: #494F61;
$type-color-secondary: #A6AAB4;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$error-color: #E85E6C;
$success-color: #59C9A2;
$warning-color: #FFBA02;


// Branding colors
$dash-blue: rgb(0, 141, 228);
$deep-blue: rgb(1, 32, 96);
$midnight-blue: rgb(11, 15, 59);
$black: rgb(17, 25, 33);
$gray: rgb(120, 120, 120);
$white: rgb(255, 255, 255);
// Charity
$dash-blue-smooth: rgb(105, 186, 230);
$dash-pink: rgb(248, 138, 163);
$dash-pink-dark: rgb(222, 86, 117);
$dash-blue-light: rgb(243, 249, 252);
$silver-light: rgb(245, 245, 245);
$blue-gradient: linear-gradient(to left, $dash-blue, $dash-blue-smooth);
$blue-gradient-opacity: linear-gradient(to left, $dash-blue 40%, $dash-blue-smooth 100%);
$pink-gradient: linear-gradient(to left, $dash-pink, $dash-pink-dark);
$pink-gradient-opacity: linear-gradient(to left, $dash-pink 40%, $dash-pink-dark 100%);

// Breakpoints
$grid-breakpoints: (
  // Extra small screen / phone
    xs: 0,
  // Small screen / phone
    sm: 576px,
  // Medium screen / tablet
    md: 768px,
  // Large screen / desktop
    lg: 992px,
  // Extra large screen / wide desktop
    xl: 1200px
);

//Z-layers
$z-layers: (
    bottomless-pit: -9999,
    default: 1,
    dropdown: 3000,
    overlay: 1029,
    modal: 4001
);